@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:rgb(14, 14, 31);
    padding: 15px 20px;
    color: white;
}

.header h1{
    font-family: "Jersey 15", sans-serif;
    font-size: 7vh;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav li {
    list-style: none;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background: rgb(14, 14, 31);
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .nav.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}